.App {
  display: flex;
  justify-content: space-between;
  background-color: #FFF0D5;
  color: #553700
}

.hotChocolate {
  width: 50%;
  height: 100vh;
  object-fit: cover
}

.content {
  padding: 32px;
}

.header {
  text-align: center;
  font-family: 'Parisienne', cursive;
  margin-bottom: 50px;
}

.header > h1 {
  font-size: 3em;
}

.header > h2 {
  font-size: 2em;
}

@media only screen and (max-width: 900px) {
  .App {
    flex-direction: column;
  }
  .hotChocolate {
    width: 100%
  }
}